@import url('https://fonts.googleapis.com/css2?family=Allison&family=Josefin+Sans:ital,wght@1,200&display=swap');
body{
  margin: 0;
  background-color: #F0D9FF;
  font-family: 'Josefin Sans', sans-serif;
  
}
.navbar{
  background: black;
   
}
#top img{
  z-index: -1;
  width: 98.9vw;
  height: 95vh;
}
#top{
  margin: 0;
  height: 50vw;
}

.header{
  position: absolute;
  top: 250px;
  left: 200px;
}
.ml2{
  transition: ease-in-out 0.5s;
  font-family: 'Allison', cursive;
  color: #FFE3E3;
  font-size: 9vw;
  margin-bottom: 0;
}
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.header p{
  color: #FFE3E3;
  font-size: 2vw;
  
}
.header p span{
  border-bottom: 1px solid yellow;
}
.social-links  {
  display: flex;
  margin-top:40px;
  
}
.social-links a{
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFE3E3;
  line-height: 1;
  margin-right: 30px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
.social-links a:hover{
  transition: ease-in 0.3s;
  color: yellow;
  background:rgba(255,255,255,0.1);
}
@media  (max-width:1028px) {
  
  #top img{
    z-index: -1;
    width: 100%;
  }
  .header h1{
    transition: ease-in-out 0.5s;
    font-family: 'Allison', cursive;
    color: #FFE3E3;
    font-size: 80px;
    position: relative;
    right: 150px;
    bottom: 90px;
    text-align: center;
    justify-content: center;
    
  }
  .header p{
    position: relative;
    right: 140px;
    bottom: 80px;
    text-align: center;
    justify-content: center;
    color: #FFE3E3;
    font-size: 30px; 
  }
  #head a{
    position: relative;
    bottom: 70px;
    right:120px;
   
  }
  #head a:hover{
    transition: ease-in 0.3s;
    color: yellow;
    background:rgba(255,255,255,0.1);
    
  
  }
  
}
hr
{ 
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey ;
    width: 5%; 
    margin: 50px auto;
    margin-top: 1cm;
    margin-bottom: 1cm;
}

/* ----------------about-me-------------- */
.about-me{
  text-align: center;
}
.about-me img{
  width: 60vh;
  filter: drop-shadow(0 0 0.75rem black);
  margin-top: 5cm;
  /* position: relative; */
}
.ml6{
  padding-top: 1cm;
  font-size: 5vw;
  font-weight: 800;
  color: #BFA2DB;
}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
#desc{
  font-size: 1.5vw;
  text-align:left;
  color: #7F7C82;
}
@media  (max-width:1028px){
  .about-me img{
    width: 40vh;
    filter: drop-shadow(0 0 0.75rem black);
    margin-top: 6.5cm;
    /* position: relative; */
  }
  .ml6{
    padding-top: 1cm;
    font-size: 10vw;
    font-weight: 900;
    color: #BFA2DB;
  }
  #desc{
    font-size: 4vw;
    text-align:center;
    color: #7F7C82;
  }
}

/* ----------------------------skills and interests ---------------*/
.skills h1{
  font-weight: bolder;
  text-decoration:underline #BFA2DB;
  
  margin-top: 4cm;
  margin-bottom: 2cm;
}
.bgcard1{
  background-color: #BFA2DB;
}
.bgcard2{
  background-color: #BFA2DB;
}
.bgcard3{
background-color: #BFA2DB;
}
.bgcard4{
  background-color: #BFA2DB;
  }
.card{
 color: #FFE3E3;
}
@media  (max-width:1028px){
  .skills h1{
    font-weight: bolder;
    text-decoration: none;
    border-top: dotted 3px #BFA2DB;
    border-bottom: dotted 3px #BFA2DB;
    margin-top: 2cm;
    margin-bottom: 2cm;
  }
}

/* --------------------projects---------------------- */
.projects h1{
  font-size:3vw;
  text-align: center;
  font-weight:bolder;
  color: #BFA2DB;
  padding-top: 2%;
  margin-top: 4cm;
  margin-bottom:3cm;
}
@media  (max-width:1028px){
  .projects h1{
    font-size: 10vw;
    margin-top: 1cm;
    margin-bottom: 2cm;
  }
}

/* ------------get-in-touch--------------- */
.contact-me{
  text-align: center;
}
.contact-me h2{
  font-weight: 900;
  font-size: 50px;
  color: #BFA2DB;
}
.contact-me button{
  width: 10%;
  font-size: 20px;
  margin-bottom: 5%;
}
@media  (max-width:1028px){
  .contact-me p{
    
    font-size: 25px;
    color: #BFA2DB;
  }
  .contact-me button{
    width: 30%;
    font-size: 20px;
    margin-bottom: 5%;
  }
}
  

/*------------------- footer----------- */
#foot{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BFA2DB;
}
#foot a{
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255,0.1);
  color: black;
  line-height: 1;
  margin-right: 35px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#foot a:hover{
  transition: ease-in 0.3s;
  color:yellow;
  
}


